<div *ngIf="!yes">
  <img
    src="https://media1.tenor.com/m/yEg23XVd13EAAAAC/credits-to-milkmochabear-milk-and-mocha.gif"
    alt="BeMine"
  />
  <h1>Dasha, will you be my Valentine??</h1>
</div>

<div *ngIf="yes">
  <img
    src="https://media.tenor.com/D1CAg1rBD6wAAAAi/tkthao219-bubududu.gif"
    alt="mine"
  />
  <h1>Yayyyy!!!!!!!!</h1>
</div>

<div *ngIf="!yes">
  <button
    mat-fab
    extended
    color="accent"
    (click)="yes = true"
    [ngStyle]="setStyle()"
  >
    <mat-icon>favorite</mat-icon>
    Yes
  </button>

  <button
    mat-fab
    extended
    color="warn"
    (click)="handleNo()"
    *ngIf="!yes"
    [hidden]="index === -1"
  >
    <mat-icon class="material-symbols-outlined"> heart_broken </mat-icon>
    {{ phrases[index] }}
  </button>
</div>
